body {
	padding: 0px 0px;
	font-family: "Century Gothic";
	text-align: center;
  /*background-image: url("knot.jpg");*/
  background-repeat: repeat;
}

div.img img {
  display: inline;
  margin: -50px;
  margin-left: 1px;
}

#searchData{
  margin-top: 5px;
}

h4 {
  color: grey;
}

#footer{
    height: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
