body {
	padding: 0px 0px;
	font-family: "Century Gothic";
	text-align: center;
  background-repeat: no-repeat;
  background-size:contain;
  background-position:top-left;
  background-size: 100%;
}

div.img img {
  display: inline;
  margin: -50px;
  margin-left: 1px;
}

#searchData{
  margin-top: 5px;
}

h4 {
  color: grey;
}

#j1 {
  margin-top: 30%;
  color: white;
  background: rgb(255, 255, 255); 
  background: rgba(255, 255, 255, 0); 
}

#j1 h1 {
  color: white;
  font-family: Lobster;
  font-size: 600%;
}

#inicialBtn{
  font-family: Lobster;
  font-weight: 100%;
}

#footer{
    height: 30px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
